.brodcast-error{
	color: red;
	font-weight: bold;
}
.brodcast-error-input{
  color: red;
  position: absolute;
  left: 2.9rem;
}
.brodcast-OK{
	color: rgb(0, 185, 0);
	font-weight: bold;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #000000, #21171c, #372737, #483b57, #50527c, #4d5b92, #4465a8, #2b70bf, #1f6acb, #2363d5, #355add, #4c4ee2);
}
html{
  height: 100vh;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  background-image: linear-gradient(to bottom, #000000, #21171c, #372737, #483b57, #50527c, #4d5b92, #4465a8, #2b70bf, #1f6acb, #2363d5, #355add, #4c4ee2);
  overflow-x: hidden;
  height: 100vh;
  
}
