h2{
	text-align: center;
	color: #fff;
}
.favSection{
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px 1em 1em 1em;
	padding: .65em;
}
.svg-inline--fa.fa-w-16{
	height: 26px;
	width: 26px;
}
.description-isCustom-icon{
	color: #fff;
}
.filter-button-container > p{
	color: #fff;
}
input:focus{
	background-color: rgb(219, 219, 219);
}
.filter-button{
	background-color: rgb(0, 0, 0);
	color: #fff;
	padding: .2em 1em .2em 1em;
	cursor: pointer;
	border-radius: 10px;
}
.update-input-button{
	padding-left: 0;
	padding-right: 3px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.delete-input-button{
	margin-right: 5px;
	cursor: pointer;
}
.add-favorite-section{
	background-color: rgb(0, 0, 0);
	color: #fff;
	padding: .7em;
	margin-left: 1em;
	cursor: pointer;
	border-radius: 10px;
}
.add-favorite-dropdown{
	display: flex;
	background-color: aliceblue;
	flex-direction: column;
	margin-top: 1.5em;
	margin-left: 1em;
	margin-bottom: 2em;
	border: 1px solid black;
	border-radius: 10px;
	width: 60vw;
	height: 35vh;
	padding-left: 0.5em;
	text-align: center;
	/* align-items: center;  */
	align-content: center
}
.form-favorite-radio {
	display: grid;
	grid-template-columns: 80px 80px;
	justify-items: center;
	margin-bottom: 1em;
	justify-content: center;
	align-items: center; 
}
.form-favorite-radio > *{
	cursor: pointer;
	
}
.add-favorite-dropdown > form > p{
	font-weight: bold;
	text-decoration: underline;
	margin-top: 1em;
	margin-bottom: 0;
}
.form-text-input > button{
	text-align: center;
	margin: auto;
}
.form-text-input{
	margin-top: 1.5em;
	
}
.form-text-input > input{
	margin-right: .5em;
}
.filter-button-container{
	margin-left: 1em;
}
.list-group-item{ /*UL*/
	padding: .75rem .35rem ;
}
.list-group-item:nth-child(even){
	background-color: azure;
}
.list-subgroup-item-1, .list-subgroup-item-2, .list-subgroup-item-3{
	flex: auto;
	align-self: center;
}
.list-subgroup-item-2, .list-subgroup-item-3{
	margin-left: 5px;
}
@media (max-width: 636px){
	.list-group-item{ /*UL*/
		flex-wrap: wrap;
		flex: auto;
	}
	.list-subgroup-item-1, .list-subgroup-item-2, .list-subgroup-item-3{
		flex-basis: 30%;
		/* flex-basis: 40%; */
		/* flex-basis: 50%; */
		/* flex-basis: 60%; */
	}
	.add-favorite-dropdown{
		height: 38vh;
	}
}
@media (max-width: 518px){
	.add-favorite-dropdown{
		height: 41vh;
	}
}